 



 
body{
    margin: 0;
    padding: 0;
    background-color: grey;
}
*{
    font-family: sans-serif;
}

#letrero{
    position: fixed;
    display: grid;
    margin: 10px 30px;
    width: 30%;
    height: 5%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    background: #fff;
    z-index: 100;
}
.corazon-1{
    grid-column: 1/2;
    margin: 8% 15%;
    width: 70%;
    height: 80%;
    background-color: red;
}
.corazon-2{
    grid-column: 2/3;
    margin: 8% 15%;
    width: 70%;
    height: 80%;
    background-color: red;
}
.corazon-3{
    grid-column: 3/4;
    margin: 8% 15%;
    width: 70%;
    height: 80%;
    background-color: red;
}
.monedas{
    grid-column: 4/5;
    margin: 3% 15%;
    padding-top: 6%;
    text-align: center;
    width: 70%;
    height: 75%;
    background-color: gold;
    border-radius: 50%;
    border: 2px solid goldenrod;
}



.ecenario{
    margin: 0;
    position: relative;
    padding: 1px;
    display: grid;
    border: 10px solid black;
    grid-template-columns: repeat(13,100px) ;
    grid-template-rows: 90px repeat(5, 100px) ;
    
}

.pantalla{
    position: absolute;
    width: 70%;
    height: 50%;
    margin: 10%;
    background: brown;
    border: 10px solid rgb(241, 173, 118);
   
}

.atras{
    margin: 0 90%;
    width: 45px;
    height: 30px;
    background: gold;
    border: 5px solid orange;

}

.titulo{
    margin: 10px 40%;

}

.parrafo{
    margin: 30px 10%;
    padding: 10px;
    width: 80%;
    height: 40%;
    color: black;
    background: rgb(173, 83, 61);
    font-size: 20px;
}

.block{
    background-color: rgba(117, 108, 108, 0.801);
    border: 3px solid rgb(75, 47, 47);
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.616);
}




.blanco{
    margin-top: 10px;
    width: 45px;
    height: 30px;
    background-color: white;
    z-index: 100;
}

p{
    color: red;
    font-size: 15px;
    margin: auto;
}


.pantalla .parrafo button{
    width: 30%;
    height: 30%;
    margin: 8% 1% ;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.548);
    background-color: #e240cc;
    font-size: 15PX;
    font-weight: 600;

}


.jugador{
    position: absolute;
    visibility: hidden;
    margin: 100px ;
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns:15px 35px 35px 15px ;
    grid-template-rows: 40px 40px 20px;
    transition: 500ms;
    background-color: #ffff00ef;
    box-shadow: 10px 10px 50px 40px yellow;
   
}

.cabeza{
   border-top: 10px solid black;
    width: 70px;
    height: 100%;
    background-color: rgb(255, 178, 107);
    grid-column: 2/ 4;
    grid-row: 1/2;
   
}
.ojo-izq{
    margin: 10px;
    width: 7px;
    height: 7px;
    background: black;
    border-radius: 50%;
}
.ojo-der{
    margin: -17px 48px;
    width: 7px;
    height: 7px;
    background:black ;
    border-radius: 50%;
   
}
.boca{
    margin: 20px 28px;
    width: 10px;
    height: 4px;
    background: black;

}
.cuerpo{
    background-color: red;
    grid-column: 2/ 4;
    border: 2px solid black;
}
.mano-iz{
    border-top: 10px solid red;
    background-color: rgb(255, 178, 107);
    grid-column: 4/ 4 ;
    grid-row: 2/ 2 ;
}
.mano-der{
    border-top: 10px solid red;
    background-color: rgb(255, 178, 107);
    grid-column: 1/ 1 ;
    grid-row: 2/ 2 ;
}

.pies{
    background-color: blue;
    border: 2px solid black;
    grid-column: 2/ 2;
   
}


.pies2{
    border: 2px solid black;
    background-color: blue;
    grid-column: 3/ 3;
}

/* ENEMIGO */

 /* .enemigo{
    position: absolute;
    margin: 300px;
    width: 50px;
    height: 50px ;
    background-color: red;
}  */


/* TRABAJANDO CON VUE */


/* enemigo{
    position: absolute;
    margin: 300px;
    width: 50px;
    height: 50px ;
    background-color: red;
} */


.enemigo {
    position: absolute;
    margin: 100px 500px;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    transition: 5s;
}
.cuerpo-enemigo{
    height: 100%;
    background-color: aliceblue;
    border: 3px solid black;

}


.cabeza-2{
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 30%;
    position: absolute;
    top: 10px;
    left: 75px;
}

.pierna {
    width: 50px;
    height: 50px;
    background-color: #f39c12;
    position: absolute;
    border-bottom: 30px solid red;
  
}

.pierna.izquierda {
    bottom: 0;
    left: 48px;
}

.pierna.derecha {
    bottom: 0;
    right: 48px;
}
.brazo {
    width: 40px;
    height: 80px;
    background-color: #2ecc71;
    position: absolute;
}

.brazo.izquierdo {
    top: 50px;
    left: 10px;
    border-right:100px solid black ;
}

.brazo.derecho {
    top: 50px;
    right: 10px;
}

